/* #11ABC1 #DF3062 #F5B935 #4BAC3F */
/* #5dd3ee, #e865fc */

/* ------------------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Europa", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  /* background: rgb(129,185,210); */
  /* background: linear-gradient(0deg, rgba(129,185,210,1) 0%, rgba(153,205,229,1) 18%, rgba(186,212,224,1) 51%, rgba(186,212,224,1) 78%, rgba(230,179,222,1) 100%); */
  color: #444;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ------------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------ */

.main-section {
  width: 85%;
  margin: auto;
  max-width: 850px;
}

h1,
h2 {
  font-weight: 400;
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  font-size: 200%;
  word-spacing: 2px;
}

h2 {
  font-size: 140%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #000;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.narrow {
  margin: auto;
  width: 85%;
}


/* ------------------------------------------------------------ */
/* HEADLINE */
/* ------------------------------------------------------------ */

.main-container {
  background-color: #fff;
  margin: auto;
  /* position: fixed; */
  width: 1000px;
}



/* ------------------------------------------------------------ */
/* HEADLINE */
/* ------------------------------------------------------------ */

.headline {
  width: 85%;
  margin: auto;
  height: 250px;
  display: flex;
  max-width: 850px;
}

.headshot {
  width: 250px;
  min-width: 250px;
  border-radius: 125px;
}

.headline-text {
  min-width: 250px;
  margin: auto;
  text-align: center;
}


/* ------------------------------------------------------------ */
/* SKILLS */
/* ------------------------------------------------------------ */

.skill {
  display: inline-block;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(190, 190, 190);
  background-color: rgb(233, 233, 233);
}



/* ------------------------------------------------------------ */
/* PROJECTS */
/* ------------------------------------------------------------ */

.projects {
  margin: auto;
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.project-card {
  margin: 20px;
}

.project-card-image {
  width: 20%;
  min-width: 200px;
  height: auto;
}

.project-description {
  font-size: 90%;
}